#sample-list>li {
    list-style: none;
}

#sample-list>li>span {
    cursor: pointer;
}

.playing {
    /* font-weight: bold; */
    font-style: italic;
}
.playing::after {
    content: " (playing)";
}
.delete {
    color: red;
    cursor: pointer;
    margin-left: 1em;
}
.deleted {
    visibility: hidden;
    display: none;
}
.playing.sample-name::before {
    font-style: normal;
    content: '⏸️ ';
}
.sample-name::before {
    content: '▶️ ';
}

#recording-button {
    cursor: pointer;
    font-weight: bold;
}
#recording-button.ready::before {
    content: '⏺️ Record new sample';
}

#recording-button.recording::before {
    content: '⏹ End recording';
}
#recording-button.loading::before {
    content: '⌛ Loading...';
    font-style: italic;
}
#recording-button.pre-permission::before {
    content: 'No Permission';
    font-style: italic;
}