@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --color: #8686868c;
  --dark-background: #121217;
  --dark-background-2: #252429;
  --light-background: #f9fafc;
  --light-background-2: #e0e6ed;

/*  --text-color: white;
  --background: var(--dark-background);
  --background-2: var(--dark-background-2);
  --cm-filter: invert(1);*/

  --text-color: black;
  --background: var(--light-background);
  --background-2: var(--light-background-2);
  --cm-filter: "";
}

body {
	overflow: none;
	margin: 0px;
	font-family: 'Phantom Sans';
	background: var(--background);
	color: var(--text-color);
}

.editor {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template: 
		". ." 100%
		/ 70% 1fr;
}

.left-editor {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
}

.cm-wrap { 
	/*min-height: max-content; */
	margin-top: 8px;
	height: 92%;
	border: 1px solid #ddd;
}
.cm-scroller { overflow: auto; }

.ͼd {
	color: #973e1b;
}

.ͼl {
   	color: #a1a09f;
}

.button-container {
	height: 7%;
	width: 100%;
	display: flex;
	place-content: center;
	align-items: center;
	flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.button-container > button, 
.hc-button, 
.button-container > a {
	margin: 5px;
	background: #ec3750;
	color: white;
	border: none;
	padding: 2px 12px;
	border-radius: 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	height: 30px;
	opacity: 1;
}

.button-container > a {
	height: 30px;
	box-sizing: border-box;
	text-decoration: none;
	display: grid;
	place-content: center;
}

.button-container > button:hover, 
.hc-button:hover,
.button-container > a:hover  {
	opacity: 0.7;
}

.hc-button {
	padding: 2px 8px;
	height: 25px;
}

.played-notes-heading-holder{
	margin-bottom: 6px;
	display: flex;
	align-items: center;
}

.played-notes-heading{
	flex-grow: 1;
	font-weight: 800;
}

.clear-played-trigger {
	cursor: pointer;
}

.left-editor{
	padding: 4px 16px 12px 16px;
}

.played-log {
	height: 40vh;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	overflow: scroll;
	border: 1px solid rgb(51, 51, 51);
	background: var(--background-2);
}

.examples { 
	display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    background: var(--background-2);
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;
}

.example {
	color: var(--text-color);
	border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background: var(--background);
}

.example:hover {
	opacity: .8;
}

.shared-confirmation {
	position: fixed;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	padding: 5px;
	background: lightblue;
	border-radius: 5px;
	text-align: center;
	border:  2px solid black;
}

.samples {
	margin-top: 12px;
	overflow: scroll;
}

.sample-item:hover {
	cursor: pointer;
}

#sample-list{
	display: flex;
	flex-wrap: wrap;
}


#sample-list>li {
    list-style: none;
	background: var(--background-2);
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.2em 0.5em;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
}

#sample-list>li>span {
	display: flex;
    cursor: pointer;
    align-items: center;
}

.playing {
    /* font-weight: bold; */
    font-style: italic;
}

.delete {
	font-size: 28px;
	transform: rotate(45deg) translateY(1px);
	margin-left: 0.2em;
	color: #ec3750;
}

.played-notes-heading-holder{
	margin-bottom: 12px;
}

.delete:hover {
	opacity: .5;
}

.deleted {
	visibility: hidden;
	display: none;
}

.playing.sample-name::before {
    font-style: normal;
    margin-right: 4px;
    content: '⏸️';
}

.sample-name::before {
    margin-right: 4px;
    content: '▶️';
}

#recording-button {
    cursor: pointer;
}

#recording-button.three::before {
    content: 'Begin in 3';
}

#recording-button.two::before {
    content: 'Begin in 2';
}

#recording-button.one::before {
    content: 'Begin in 1';
}

#recording-button.ready::before {
    content: '⏺ Record new sample';
}

#recording-button.recording::before {
    content: '⏹ End recording';
}

#recording-button.loading::before {
    content: '⌛ Loading...';
    font-style: italic;
}

#recording-button.pre-permission::before {
    content: 'No Recording Permission';
    font-style: italic;
}


.cm-content{
	caret-color: white
}

/*what about these things*/
/*

.cm-selectionBackground {
	background: #222;
}

.cm-focused .cm-selectionBackground {
	background: #233;
}

*/

.cm-cursor {
	border-left-color: #444
}

.cm-specialChar{color: #f78}

.cm-button {
	background-image: linear-gradient(#393939, #111);
	border: 1px solid #888;
}

.cm-button:active {
	background-image: linear-gradient(#111, #333)
}
.cm-textfield {
	border: "1px solid #555";
	background-color: "inherit";
}
.cm-editor { 
	filter: var(--cm-filter);
	color: black; 
	margin-left: 8px; 
	border-radius: 8px;
}

.ͼ1.cm-focused {
	outline: none
}

.cm-gutters{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
